@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*Basic style*/
body {
  font-family: "Roboto", sans-serif;
  background: #f8f9ff;
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}

p,
a,
button {
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro-analytics {
  padding-top: 50px;
}
.intro-analytics::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #172755;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.intro-analytics::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -25px;
  width: 100%;
  height: 100%;
  background: #ef2a82;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.header {
  display: flex;
  align-items: center;
}
.header nav {
  flex-grow: 1;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 80px;
  text-decoration: none;
}
.header__logo img {
  margin-right: 13px;
}
.header__logo p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f8f9ff;
}

.header__menu-list {
  display: flex;
}
.header__menu-item {
  margin-right: 36px;
}
.header__menu a {
  text-decoration: none;
}

.header__btns {
  z-index: 2;
}
.header__btns .header__btn--transparent {
  margin-right: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 68px;
  color: #8794ba;
  font-size: 16px;
  padding: 10px 53px;
  cursor: pointer;
}
.header__btns .header__btn--circled {
  border: 1px solid #f8f9ff;
  background-color: transparent;
  border-radius: 68px;
  color: #8794ba;
  font-size: 16px;
  padding: 10px 53px;
  cursor: pointer;
}

.dashboard {
  display: flex;
  padding-top: 150px;
  padding-bottom: 258px;
}
.dashboard__info {
  max-width: 550px;
  margin-right: 80px;
}
.dashboard__title {
  z-index: 1;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #f8f9ff;
  margin-bottom: 15px;
}
.dashboard__title::after {
  content: "";
  position: absolute;
  top: -440px;
  left: -180px;
  width: 720px;
  height: 720px;
  background: url("../../assets/icons/logo-light-gray-2.svg") no-repeat;
  z-index: 1;
}
.dashboard__title::before {
  content: "";
  position: absolute;
  top: -345px;
  left: 98%;
  width: 1000px;
  height: 1000px;
  background: url("../../assets/icons/logo-light-gray.svg") no-repeat;
  z-index: -1;
}
.dashboard__text {
  z-index: 1;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8794ba;
  margin-bottom: 50px;
}
.dashboard__btn {
  border: 1px solid transparent;
  background-color: #ef2a82;
  border-radius: 68px;
  color: #fff;
  font-size: 16px;
  padding: 15px 80px;
  cursor: pointer;
}
.dashboard__pictures {
  position: relative;
  z-index: 0;
}
.dashboard__pictures img {
  box-shadow: 0px 19px 53px -16px rgba(25, 42, 89, 0.2);
  border-radius: 32px;
  margin-top: 50px;
}
.dashboard__pictures::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 80px;
  background: url("../../assets/img/dashboard-big.png") no-repeat;
  width: 800px;
  height: 550px;
  border-radius: 30px;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
