@import '../_mixins.scss';
@import '../_variables.scss';

.main-futures {
	// align-items: center;
	// text-align: center;

	padding-top: 100px;
	padding-bottom: 100px;

	&__title {
		font-weight: 700;
		font-size: 40px;
		// line-height: 47px;
		color: $black;
		margin-bottom: 30px;
		text-align: center;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: $gray;
		margin-bottom: 70px;
		text-align: center;
	}

	&__advantages {
		display: flex;
		// flex-direction: column;
		justify-content: space-between;
	}

	&__advantage-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 366px;
	}

	img {
		width: 60px;
		height: 60px;
		margin-bottom: 25px;
	}

	h3 {
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 15px;
	}

	p {
		color: $gray;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		text-align: center;
	}
}

@media screen and (max-width: 1200px) {
	.main-futures__advantages {
		gap: 15px;
	}
}

@media (max-width: 768px) {
	.main-futures {
		margin-bottom: 30px;
		padding-bottom: 40px;

		&__title {
			padding-top: 50px;
			font-size: 36px;
		}

		&__text {
			font-size: 16px;
			margin-bottom: 50px;
		}

		&__advantages {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@media (max-width: 440px) {
	.main-futures__advantages-item {
		width: 290px;
	}

	.main-features__advantages {
		gap: 45px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
