@import '../_mixins.scss';
@import '../_variables.scss';

.intro-analytics {
	padding-top: 50px;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: $background-dark-blue;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		bottom: -25px;
		width: 100%;
		height: 100%;
		background: $pink;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	}
}
.header {
	display: flex;
	align-items: center;

	nav {
		flex-grow: 1;
	}

	&__logo {
		display: flex;
		align-items: center;
		margin-right: 80px;
		text-decoration: none;

		img {
			margin-right: 13px;
		}

		p {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 600;
			color: $light-gray;
		}
	}
}

.header__menu {
	&-list {
		display: flex;
	}

	&-item {
		margin-right: 36px;
	}

	a {
		text-decoration: none;
	}
}

.header__btns {
	z-index: 2;

	.header__btn--transparent {
		margin-right: 10px;
		@include btn(transparent, transparent, 68px, $gray, 16px, 10px, 53px);
	}

	.header__btn--circled {
		@include btn($light-gray, transparent, 68px, $gray, 16px, 10px, 53px);
	}
}
.dashboard {
	display: flex;
	padding-top: 150px;
	padding-bottom: 258px;

	&__info {
		max-width: 550px;
		margin-right: 80px;
	}

	&__title {
		z-index: 1;
		position: relative;
		font-weight: 700;
		font-size: 50px;
		line-height: 120%;
		color: $light-gray;
		margin-bottom: 15px;

		&::after {
			content: '';
			position: absolute;
			top: -440px;
			left: -180px;
			width: 720px;
			height: 720px;
			background: url('../../assets/icons/logo-light-gray-2.svg') no-repeat;
			z-index: 1;
		}

		&::before {
			content: '';
			position: absolute;
			top: -345px;
			left: 98%;
			width: 1000px;
			height: 1000px;
			background: url('../../assets/icons/logo-light-gray.svg') no-repeat;
			z-index: -1;
		}
	}

	&__text {
		z-index: 1;
		position: relative;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		color: $gray;
		margin-bottom: 50px;
	}

	&__btn {
		@include btn(transparent, $pink, 68px, #fff, 16px, 15px, 80px);
	}

	&__pictures {
		position: relative;
		z-index: 0;

		img {
			box-shadow: 0px 19px 53px -16px rgba(25, 42, 89, 0.2);
			border-radius: 32px;
			margin-top: 50px;
		}

		&::before {
			content: '';
			position: absolute;
			top: -80px;
			left: 80px;
			background: url('../../assets/img/dashboard-big.png') no-repeat;
			width: 800px;
			height: 550px;
			border-radius: 30px;
			box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
			z-index: -1;
		}
	}
}
